<!doctype html>
<html>
  <head>
    <title>{{#if title}}{{title}}{{else}}Default Title{{/if}}</title>
  </head>
  <body>
    <h1>Base</h1>
    {{#> body-block}}<p>Default Body</p>{{/body-block}}
  </body>
</html>