extends layouts/base.pug

block vars
  - var title="About"
  - var description="An about page that inherits base"

block content
  h2 About

  img(
    src=require("../img/sofia.jpeg")
    width=400
  )